*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

a {
    color: wheat;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.brand-title {
    font-variant-caps: normal;
    font-family: cursive;
    font-size: 1.5rem;
    margin: .5rem;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: teal;
    font-size: 20px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    float: top;
    margin: 5px;
    font-variant-caps: normal;
    font-family: cursive;
    color: black;
    padding: 1rem;
    display: block;

}


.navbar-links li:hover {
    background-color: navajowhite;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 19px;
}

.toggle-button .bar {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 660px) {

    .brand-title {
        font-size: 1rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {

        text-align: center;
    }

    .navbar-links li Link {

        padding: .3rem 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (max-width: 990px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .toggle-button {
        margin-left: auto;
    }

    .navbar-links li {

        text-align: center;
    }

    .navbar-links li a {

        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    img {
        width: 100%;
    }

}
