.images{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/shopping-ef663.appspot.com/o/images%2Fwelcome%2F1635338008.2331486-WK35-HOMEPAGE-v2.-psdDesktop-copy-6.jpg?alt=media&token=e3aa0287-7f55-44cd-b8ff-8a45dfc6b427");
    background-size: cover;
    background-position: right center;
    height: 400px;
}
.card-title{
    text-align: center;
    background-color: wheat;
}
.card-title a{
    color: red;
   font-weight: bold;
}